<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Find Related Images</title>
        <meta name="keywords" content="autoencoder, demo, ml, ai">
        <meta name="description" content="reverse image search demo">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h1 class="display-4">Find Related Images</h1>
                {% set first = results[0] %}
                {% set next = range(1, 100) | random %}
                <img id="first" "data-id"="{{ first.id }}" src="/images/{{ first.image }}" />
                <a id="randomize" class="btn" data-id="{{ next }}" href="/nearest/{{ next }}">Get New Random Image</a>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <ul id=results>
                {% for item in results %}
                    {% if not loop.first %}
                    <li><a href="/nearest/{{ item.id }}">
                        <img class="result" data-id="{{ item.id }}" src="/images/{{ item.image }}" />
                    </a></li>
                    {% endif %}
                {% endfor %}
                <ul>
            </div>
          </div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
<html>
